<% provide(:title, "About") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>About</h1>
        <h1>lyve - The first place to come when check your phone or the internet</h1>
        <h3>Lyve is lightweight and organized way to stay up to date with information, news, and social in real-time.  With the world at your finger tips, know what's happening while it's happening.</h3>
        <h3>Lyve aggregates all your social and news information into one place.  We create channels to easily organize your information so that everything is clean and easy to follow using out intutive interface.  The ease of use and simplicity make sure you're only seeing what you want when you log on, making lyve the first place to check anytime you're on your phone or computer. Stay up to date in real time, and go lyve.</h3>
    </div>
  </div>
</div>

